body{
    font-family: 'Montserrat', sans-serif;
}
#title{
    background-color: #ff4c68;
}

.container-fluid{
    padding:3% 15% 5%;
    height: 700px;
}

.first{
    height: 700px;
    
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color:white;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    
}
/* Navigation Bar */

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    
}

.navbar{
    padding:0 0 4.5rem 0;
}

.nav-item{
    padding:0 18px;
}
.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* Download Button */

.download-button{
    margin: 5% 3% 5% 0%;
}

/* Title Image */

.titleimage{
    transform: rotate(25deg);
    height: 100%;
    position: absolute;
    right: 25%;
    z-index: 0;
}



h3{
    font-size: 1.5rem;
    font-weight: 900;
}

#features{
    background-color: white;
    position: relative;
}
.feats{
    padding: 7% 15%;
    font-family: 'Montserrat',sans-serif;
}

.feat{
    text-align: center;
    padding: 5.5%;
}
p{
    color:#8f8f8f;
}

.featico{
    color:#ef8172;
}

.featico:hover{
    color:#ff4c68;
}

/* Testominals Section */

#testimonials{
    background-color: #ef8172;
    
    text-align: center;
    color: white;
}

.testimonials-image{
    width:10%;
    border-radius: 100%;
    margin:10px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-images{
    margin:20px 20px 50px;
    width:15%;
}

.carousel-item{
    padding: 7% 15%;
}

.carousel{
    padding:100px 50px;
}

/* Pricing Section */

#pricing{
    padding:100px;
    text-align:center;
}

.pricing-column{
    padding:3% 2%;
}

/* Media Query Breakpoints */

@media (max-width:1028px){

    #title{
        text-align: center;
    }

    .titleimage{
        position:static;
        transform:rotate(0);
    }

    #features{
        position: relative;
    }
}